<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:hour) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:branch) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.hour.strftime("%I:%M %p") %></td>
        <td><%= event.description %></td>
        <td><%= event.room.name %></td>
        <td><%= event.capacity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--//content-->
