<li> <%= link_to 'Inicio', root_path, :class => 'hvr-sweep-to-bottom color' %> <i class="glyphicon glyphicon-home"></i> </li>
<li> <%= link_to 'Albumes', pages_albums_path, :class => 'hvr-sweep-to-bottom 1color' %><i class="glyphicon glyphicon-picture"></i> </li>
<li> <%= link_to 'Eventos', pages_events_path, :class => 'hvr-sweep-to-bottom 2color' %><i class="glyphicon glyphicon-calendar"></i></li>
<li> <%= link_to 'Nosotros', pages_about_us_path, :class => 'hvr-sweep-to-bottom 3color' %><i class="glyphicon glyphicon-envelope"></i></li>
<li> <%= link_to 'Reservas', pages_reservation_path, :class => 'hvr-sweep-to-bottom 4color' %><i class="glyphicon glyphicon-envelope"></i></li>
<% if user_signed_in? %>
    <li> <%= link_to 'Logout', '/logout', method: :delete, :class => 'hvr-sweep-to-bottom 4color' %><i class="glyphicon glyphicon-envelope"></i></li>
<% else %>
    <li> <%= link_to 'Login', '/login', :class => 'hvr-sweep-to-bottom 4color' %><i class="glyphicon glyphicon-envelope"></i></li>
<% end %>